[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
django-debug-toolbar = "*"
python-decouple = "*"

[dev-packages]
flake8 = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
